@page
@model qr_scanner_app_staj.Pages.qr_scanner.ScannerModel

<div class="row justify-content-center">
    <video id="video" width="600" height="400" style="border: 1px solid black"></video>
    <canvas id="canvas" hidden></canvas>
    <form id="qr-form" method="post">
        <input id="qr-input" type=" hidden" asp-for="QrCode">
    </form>
    <a class="btn btn-info form-control text-white" asp-page="Receipts">Go Back</a>
</div>

@section Scripts {
    <script type="text/javascript">
        function startQrCodeReader() {
            const video = document.getElementById('video');
            const canvas = document.getElementById('canvas');
            const canvasContext = canvas.getContext('2d');
            const qrInput = document.getElementById('qr-input');
            const qrForm = document.getElementById('qr-form');
            let qrCodeDetected = false;

            navigator.mediaDevices.getUserMedia({ video: { facingMode: 'environment' } }).then(stream => {
                video.srcObject = stream;
                video.setAttribute("playsinline", true);
                video.play();
                requestAnimationFrame(tick);
            });

            function tick() {
                if (qrCodeDetected) return;
                if (video.readyState === video.HAVE_ENOUGH_DATA) {
                    canvas.height = video.videoHeight;
                    canvas.width = video.videoWidth;
                    canvasContext.drawImage(video, 0, 0, canvas.width, canvas.height);
                    const imageData = canvasContext.getImageData(0, 0, canvas.width, canvas.height);
                    const code = jsQR(imageData.data, imageData.width, imageData.height, {
                        inversionAttempts: "dontInvert",
                    });
                    if (code) {
                        qrCodeDetected = true;
                        qrInput.value = code.data;
                        qrForm.submit();
                    }
                }
                requestAnimationFrame(tick);
            }
        }

        document.addEventListener('DOMContentLoaded', (event) => {
            startQrCodeReader();
        });
    </script>
}